global
    maxconn 10000
    log stdout format raw local0

defaults
    mode http
    log global
    timeout connect 2s
    timeout client 10s
    timeout server 10s
    timeout queue 1s
    option http-keep-alive


frontend http
    bind *:80
    default_backend apis

backend apis
    balance roundrobin
    http-reuse always
    option log-health-checks
    server api1 unix@/sockets/api1.sock maxconn 512 check inter 1s
    server api2 unix@/sockets/api2.sock maxconn 512 check inter 1s
