global
    maxconn 4096
    nbthread 2
    tune.bufsize 16384
    tune.maxrewrite 1024

defaults
    mode http
    no log
    option dontlognull
    option http-keep-alive
    option http-no-delay
    option splice-auto
    timeout connect 1s
    timeout client 65s
    timeout server 65s
    timeout queue 5s
    timeout http-keep-alive 65s
    timeout http-request 15s

frontend http
    bind *:80 backlog 2048
    default_backend apis

backend apis
    balance roundrobin
    http-reuse always
    server api1 unix@/sockets/api1.sock maxconn 1024
    server api2 unix@/sockets/api2.sock maxconn 1024
