global
    maxconn 10000
    log stdout format raw local0

defaults
    mode http
    log global
    timeout connect 2s
    timeout client 10s
    timeout server 10s
    timeout queue 1s
    option http-keep-alive


frontend http
    bind *:80
    default_backend apis

backend apis
    balance roundrobin
    http-reuse always
    server api1 api1:8080 maxconn 512
    server api2 api2:8080 maxconn 512
